.miniTitle{
    color: rgb(0, 183, 255);
    margin-bottom: 10px;
}

.generalInfo{
    margin: 30px;
}

.divPart{
    margin-bottom: 30px;
}

.bmiForm{
    text-align: center;
}

/* .App{
    
} */

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputGroup{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.anchor{
    color: white;
    text-decoration: none;
}

.btnDodger{
    background-color: dodgerblue;
    color: white;
    box-shadow: 0px 0px 30px 0px rgba(30,144,255,0.75);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(30,144,255,0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(30,144,255,0.75);
}

.btnDodger:hover{
    background-color: white;
    color: dodgerblue;
}

li::marker{
    color: dodgerblue;
}